[Unit]
Description=TransferJournal
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/TransferJournal
LimitNOFILE=4096
ExecStart=/var/www/TransferJournal/server_start.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

